

<div class="container"></div>

  <h1>New Game</h1>


  <div class="box">
    <p><%=@a%></p>
  </div>
  <div class="box">
    <p><%=@b%></p>
  </div>
  <div class="box">
    <p><%=@c%></p>
  </div>
  <div class="box">
    <p><%=@d%></p>
  </div>
  <div class="box">
    <p><%=@e%></p>
  </div>
  <div class="box">
    <p><%=@f%></p>
  </div>
  <div class="box">
    <p><%=@g%></p>
  </div>
  <div class="box">
    <p><%=@h%></p>
  </div>
  <div class="box">
    <p><%=@i%></p>
  </div>
  <div class="box">
    <p><%=@j%></p>
  </div>

</div>

  <form action="score" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text" name="word">
    <input type="submit">
  </form>


















